.color--green {
    color: $color--green;
}
.color--green-light {
    color: $color--green-light;
}
.color--orange {
    color: $color--orange;
}
.color--white {
    color: $color--white;
}
.color--black {
    color: $color--black;
}
.color--grey {
    color: $color--grey;
}

.background--green {
    background-color: $color--green;
    color: #fff;
}
.background--green-light {
    background-color: $color--green-light;
    color: #fff;
}
.background--orange {
    background-color: $color--orange;
    color: #fff;
}
.background--white {
    background-color: $color--white;
}
.background--black {
    background-color: $color--black;
}
