/**
 * COLORS
 */
$colors: (
    green: (
        hex: #32806b,
        type: 'dark'
    ),
    green-light:  (
        hex: #54b69b,
        type: 'dark'
    ),
    blue: (
        hex: #147a90,
        type: 'dark'
    ),
    red: (
        hex: #fd5365,
        type: 'dark'
    ),
    yellow: (
        hex: #ffde00,
        type: 'light'
    ),
    orange: (
        hex: #ff6c61,
        type: 'dark'
    ),
    grey: (
        hex: #aaa,
        type: 'dark'
    ),
    grey-light: (
        hex: #c3c3c3,
        type: 'light'
    ),
    grey-dark: (
        hex: #373737,
        type: 'dark'
    ),
    black: (
        hex: #303030,
        type: 'dark'
    ),
    white: (
        hex: #fff,
        type: 'light'
    )
);

/**
* Typefaces & Sizes
*/
$type--root-font-size:          18px;
$type--root-font-size--small:   16px;
$type--root-font-size--large:   $type--root-font-size * 1.25;
$type--root-line-height:        1.6;

$type--body: (
    font-family: ('merriweather',serif),
    regular: 100,
    bold: 700,
    italic: italic
);

$type--heading: (
    font-family: ('merriweather',serif),
    regular: 400,
    bold: 700
);

/**
 * Layouting
 */

$layout--max-width:             620px;
$layout--max-width--large:      1180px;
