//config
$menu-items: 3;

// Placeholder
%navigation__item {
    position:absolute;
    top: 0;
    left: 0;

    list-style: none;
}

%navigation__link {
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(245, 245, 245, 0.3);
    border-radius: 100%;
    color: white;
    text-align: center;
    transform: scale(1, 1) translate3d(0,0,0);
    transition: transform ease-out 200ms;
    line-height: 2rem;

    &:hover {
        transform: scale(1.2,1.2) translate3d(0,0,0);
    }
}

/**
 * Main Navigation Element
 * Module Holder
 */
.navigation {
    position: fixed;
    left: 1rem;

    @include layoutFor('>medium') {
        top: 1rem;
    }

    @include layoutFor('<medium') {
        bottom: 4rem;
    }

    * {
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
}

/**
 * Navigation List (ul)
 */
.navigation__list {
    margin: 0;
    opacity: 0;
    transition: opacity 100ms ease-out;

    .is-open & {
        opacity: 1;
    }
}

/**
 * Navigation List Items (li)
 */
.navigation__item {
    @extend %navigation__item;

    // Close navigation transition
    @for $i from 1 through $menu-items{
        &:nth-child(#{$i}){
            transition-duration:180ms;
        }
    }

    .is-open & {
        transition-timing-function: cubic-bezier(0.935, 0.000, 0.340, 1.330);

        &:nth-child(#{1}) {
            transition-duration: 150ms;

            @include layoutFor('>medium') {
                transform: translate3d(50px, -15px, 0);
            }

            @include layoutFor('<medium') {
                transform: translate3d(-8px, -55px, 0);
            }
        }

        &:nth-child(#{2}) {
            transition-duration: 250ms;

            @include layoutFor('>medium') {
                transform: translate3d(40px, 35px, 0);
            }

            @include layoutFor('<medium') {
                transform: translate3d(42px, -40px, 0);
            }
        }

        &:nth-child(#{3}) {
            transition-duration: 350ms;

            @include layoutFor('>medium') {
                transform: translate3d(-5px, 55px, 0);
            }

            @include layoutFor('<medium') {
                transform: translate3d(55px, 10px, 0);
            }
        }
    }
}

/**
 * Navigation Link (a)
 */
.navigation__link {
    @extend %navigation__link;
}

/**
 * Navigation Hamburger Button
 */
.navigation__button {
    @extend %navigation__item;
    @extend %navigation__link;

    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0,0,0);
    cursor: pointer;

    &:hover {
        transform: scale(1.2,1.2) translate3d(0,0,0);
    }
}

/**
 * Navigation Hamburger Button Lines
 */
.navigation__button__line {
    $width: 22px;
    $height: 3px;
    $hamburger-spacing: 7px;

    width: $width;
    height: $height;
    background: get-color(white);
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -$width / 2;
    margin-top: -$height / 2;
    transition:transform 200ms;

    &:nth-child(1) {
        transform:translate3d(0, -$hamburger-spacing ,0);
    }

    &:nth-child(2) {
        transform:translate3d(0,0,0);
    }

    &:nth-child(3) {
        transform:translate3d(0, $hamburger-spacing, 0);
    }

    .is-open & {
        &:nth-child(1) {
            transform:translate3d(0,0,0) rotate(45deg);
        }

        &:nth-child(2) {
            transform:translate3d(0,0,0) scale(0.1,1);
        }

        &:nth-child(3) {
            transform:translate3d(0,0,0) rotate(-45deg);
        }
    }
}
