<nav class="navigation">
    <a class="navigation__button">
        <span class="navigation__button__line"></span>
        <span class="navigation__button__line"></span>
        <span class="navigation__button__line"></span>
    </a>

    <ul class="navigation__list">
        <li class="navigation__item">
            <a href="/about.html" class="navigation__link">About</a>
        </li>

        <li class="navigation__item">
            <a href="/projects.html" class="navigation__link">Projects</a>
        </li>

        <li class="navigation__item">
            <a href="/styleguide.html" class="navigation__link">Styleguide</a>
        </li>
    </ul>
</nav>
