.testimonials {
    width: 100%;
    position: relative;
}

.testimonials__entry {
    position: relative;
    width: 100%;

    padding: 3rem 2rem 0 2rem;

    @include layoutFor('small') {
        padding-top: 0;
    }
}

.testimonials__quote {
    $dim:     15rem;

    position: absolute;
    top: -2rem;
    left: calc(50% - #{$dim/2});
    z-index: 0;

    color: get-color(black);
    opacity: 0.1;
    transform: rotate(180deg);

    svg {
        width: $dim;
        height: $dim;
    }

    @include layoutFor('small') {
        top: -3.5rem;
        left: calc(50% - 2rem);
        // color: get-color(white);
        // opacity: 0.15;

        svg {
            width: 3rem;
            height: 3rem;
        }
    }
}

.testimonials__text,
.testimonials__footer {
    position: relative;
    z-index: 1;
    text-align: center;
}

.testimonials__footer {
    padding-top: 1rem;
}

.testimonials__cite {
    font-style: normal;

    a {
        text-decoration: none;
    }
}

.testimonial__image {
    margin-top: 1rem;
    width: 5rem;
    border-radius: 50%;
    transition: transform .3s;

    &:hover,
    &:focus {
        transform: scale(1.05);
    }
}

.testimonials__author {
    margin-top: 0.5rem;
    display: block;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 0.25rem;
}

