/**
 * Hill Settings
 */
$hill-layout-space:                 1rem;
$hill-layout-widths:                (25, 33.3, 40, 50, 60, 66, 75, 100);
$hill-layout-breakpoint-helpers:    true;

// Order is important for MQ specifity
$hill-layout-breakpoints: (
    large:          992px,
    medium:         768px,
    small:          480px,
    extra-small:    320px
);
