<footer id="footer">
    <section id="about" class="layout__section">
        <section>
            <div class="layout__column" hill-layout="space-top float-left width-25">
                <img class="figure--rounded" src="/assets/images/home/avatar.jpg" alt="Andreas Klein">
            </div>
            <div hill-layout="float-left width-75">
                <h2 class="typography--type-2 about-section__heading">About Andreas Klein</h2>
            </div>
            <div hill-layout="float-left width-100">
                <p>As a freelance Frontend Developer, I create accessible and intuitive Web-Interfaces for Humans.</p>

                <p>I help Agencies and Companies to realize large scale projects with a focus on Responsive Webdesign, Accessibility, Webstandards, Performance, Coding-Guidelines, Styleguides, Workflows and choosing the right Tools and Frameworks. Outside of the web, I’m a proud father of two beautiful children, a passionate freestyle skateboarder/snowboarder and I like the taste of good <a class="typography--link" href="http://www.ernst-kaffee.de/">espresso</a>.</p>

                <p>If there is still time, I write on my <a class="typography--link" href="http://ixis.io">personal blog</a> about Frontend Stuff, Accessibility and Node.js programming.</p>

                <p>
                    <a href="/files/CV__Andreas-Klein.pdf" target="blank" class="typography--link--icon" hill-layout="space-right" iii-color="black">
                        @@include('_modules/_icons/_icons.html', { "name": "arrow-down", "inline": true, "size": "small", "attr": "" })Download my CV</a>
                </p>
            </div>
        </section>
    </section>

    <section class="layout__section" iii-bgcolor="black">
        <div class="layout__section--large-maxwidth">

            <div id="blogposts" class="layout__column" hill-layout="space-2x-bottom float-left width-33.3 medium-50 small-100">
                <h2 class="typography--type-3 layout__section__headline">
                Writings and Notes</h2>
                <ul class="list--inconized">
                    <li>
                        @@include('_modules/_icons/_icons.html', { "name": "arrow-right", "inline": true, "size": "small", "attr": "" })
                        <a class="typography--no-link" href="/notes/redesign-january-2016.html">Note: Website Redesign January 2016</a>
                    </li>
                    <li>
                        @@include('_modules/_icons/_icons.html', { "name": "arrow-right", "inline": true, "size": "small", "attr": "" })
                        <a class="typography--no-link" href="/articles/win-the-fight-against-the-multicontext-multidevice-army.html">Win the Fight against the multicontext / multidevice Army</a>
                    </li>
                    <li>
                        @@include('_modules/_icons/_icons.html', { "name": "arrow-right", "inline": true, "size": "small", "attr": "" })
                        <a class="typography--no-link" href="/articles/bootstrap-touch.html">Bootstrap Touch</a>
                    </li>
                    <li>
                        @@include('_modules/_icons/_icons.html', { "name": "arrow-right", "inline": true, "size": "small", "attr": "" })
                        <a class="typography--no-link" href="/articles/how-and-why-i-create-this-blog">How and why I create this Blog (2013)</a>
                    </li>
                </ul>
            </div>

            <div id="contact" class="layout__column" hill-layout="space-2x-bottom float-left width-33.3 medium-50 small-100">
                <h2 class="typography--type-3 layout__section__headline">
                Contact me</h2>
                <address hill-layout="space-bottom">
                    Andreas Klein<br>
                    <br>
                    <a href="http://bit.ly/1WRT82k" class="typography--link--icon" target="blank">
                        Alteburgerstraße 83<br>
                        50678 Cologne, Germany<br>
                    </a>
                    <br>
                    <br>
                    phone. <a class="typography--link" href="tel:+491738888987">+491738888987</a>
                    <br>
                    mail.&nbsp;&nbsp; <a class="typography--link" href="mailto:andy@ixis.io">andy@ixis.io</a>
                </address>
            </div>

            <div id="social" class="layout__column" hill-layout="float-left width-33.3 medium-100 small-100">
                <h2 class="typography--type-3 layout__section__headline">Social</h2>
                <ul class="list--inline">
                    <li>
                        <a class="typography--link--icon" href="//twitter.com/ixisio" title="Follow me on Twitter">
                        @@include('_modules/_icons/_icons.html', { "name": "twitter", "inline": true, "size": "", "attr": "iii-color=blue" })
                        </a>
                    </li>
                    <li>
                        <a class="typography--link--icon" href="//github.com/ixisio" title="Fork me on Github">
                        @@include('_modules/_icons/_icons.html', { "name": "github", "inline": true, "size": "", "attr": "iii-color=white" })
                        </a>
                    </li>
                    <li>
                        <a class="typography--link--icon" href="//plus.google.com/u/0/+AndreasKlein_01" title="Follow me on Google+">
                        @@include('_modules/_icons/_icons.html', { "name": "google-plus", "inline": true, "size": "", "attr": "iii-color=orange" })
                        </a>
                    </li>
                    <li>
                        <a class="typography--link--icon" href="//www.xing.com/profile/Andreas_Klein156" title="Contact me on Xing">
                        @@include('_modules/_icons/_icons.html', { "name": "xing", "inline": true, "size": "", "attr": "iii-color=green" })
                        </a>
                    </li>
                </ul>

                <h2 class="typography--type-3" hill-layout="space-top">Friends &amp; Partner</h2>

                <ul class="list--inline">
                    <li>
                        <a style="min-width: 180px; display: block;" class="typography--link--icon" href="//www.teamwrk.io/" title="Teamwrk.io Developer Duo">
                            <svg class="logo" viewBox="0 0 113 27" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" enable-background="new 0 0 152.5 63.5">
                                <g id="logoText">
                                    <path d="M85.669,12.523l0,-6.656c0,0 3.87,-0.59 3.75,1.682c-0.089,1.708 -2.156,1.783 -3.375,1.783c-1.218,0 1.36,0 1.36,0l2.531,3.191" style="fill: none; stroke-width: 0.5px; stroke: rgb(255, 255, 255); stroke-dasharray: 21.7167px, 21.7167px; stroke-dashoffset: 0px;"></path>
                                    <path d="M50.456,12.756l0,-7.059l3.328,5.579l3.235,-5.579l0,7.059" style="fill: none; stroke-width: 0.5px; stroke-linecap: butt; stroke-linejoin: bevel; stroke: rgb(255, 255, 255); stroke-dasharray: 27.0633px, 27.0633px; stroke-dashoffset: 0px;"></path>
                                    <path d="M9.517,6.013l0,6.724l0,-6.724Z" style="fill: none; stroke-width: 0.5px; stroke-linecap: butt; stroke-linejoin: round; stroke: rgb(255, 255, 255); stroke-dasharray: 13.448px, 13.448px; stroke-dashoffset: 0px;"></path>
                                    <path d="M6.602,5.848l5.83,0" style="fill: none; stroke-width: 0.5px; stroke-linecap: butt; stroke-linejoin: round; stroke: rgb(255, 255, 255); stroke-dasharray: 5.83px, 5.83px; stroke-dashoffset: 0px;"></path>
                                    <path d="M26.018,5.81l-3.917,0l0,6.676l3.917,0" style="fill: none; stroke-width: 0.5px; stroke-linecap: butt; stroke: rgb(255, 255, 255); stroke-dasharray: 14.51px, 14.51px; stroke-dashoffset: 0px;"></path>
                                    <path d="M22.101,9.065l3.246,0" style="fill: none; stroke-width: 0.5px; stroke-linecap: butt; stroke: rgb(255, 255, 255); stroke-dasharray: 3.246px, 3.246px; stroke-dashoffset: 0px;"></path>
                                    <path d="M36.132,10.353l3.541,0" style="fill: none; stroke-width: 0.5px; stroke-linecap: butt; stroke-linejoin: bevel; stroke: rgb(255, 255, 255); stroke-dasharray: 3.541px, 3.541px; stroke-dashoffset: 0px;"></path>
                                    <path d="M35.09,12.689l2.833,-6.958l2.834,6.958" style="fill: none; stroke-width: 0.5px; stroke-linecap: butt; stroke-linejoin: bevel; stroke: rgb(255, 255, 255); stroke-dasharray: 15.0256px, 15.0256px; stroke-dashoffset: 0px;"></path>
                                    <path d="M66.774,5.744l2.158,6.945l2.395,-6.945l2.391,6.945l2.156,-6.945" style="fill: none; stroke-width: 0.5px; stroke-linecap: butt; stroke-linejoin: bevel; stroke: rgb(255, 255, 255); stroke-dasharray: 29.2359px, 29.2359px; stroke-dashoffset: 0px;"></path>
                                    <path d="M99.865,9.231l0,-0.5l0.975,0l3.026,-3.08l0.356,0.35l-3.173,3.23l-1.184,0Z" style="fill: rgb(255, 255, 255); stroke-dasharray: 12.0038px, 12.0038px; stroke-dashoffset: 0px;"></path>
                                    <path d="M104.26,12.522l-3.27,-3.536" style="fill: none; stroke-width: 0.5px; stroke-linecap: butt; stroke: rgb(255, 255, 255); stroke-dasharray: 4.81624px, 4.81624px; stroke-dashoffset: 0px;"></path>
                                    <path d="M99.771,5.699l0,7.037" style="fill: none; stroke-width: 0.5px; stroke-linecap: butt; stroke: rgb(255, 255, 255); stroke-dasharray: 7.037px, 7.037px; stroke-dashoffset: 0px;"></path>
                                    <path d="M25.563,19.901l1.038,0" style="fill: none; stroke-width: 0.4px; stroke-linecap: butt; stroke: rgb(255, 255, 255); stroke-dasharray: 1.038px, 1.038px; stroke-dashoffset: 0px;"></path>
                                </g>
                                <g>
                                    <path d="M25.223,20.543l0.86,-1.86l0.864,1.86" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M14.547,19.461l0.956,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M15.703,18.555l-1.157,0l0,1.837l1.157,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M11.143,19.542l0.686,0.925" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M10.633,20.57l0,-1.995c0,0 1.137,-0.126 1.075,0.501c-0.056,0.579 -1.07,0.366 -1.075,0.504" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M88.664,19.573l0.686,0.925" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M88.154,20.601l0,-1.995c0,0 1.137,-0.126 1.076,0.502c-0.057,0.578 -1.07,0.365 -1.076,0.503" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M18.24,19.455l0.956,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M19.397,18.548l-1.157,0l0,1.837l1.157,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M37.801,19.492l0.957,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M38.958,18.586l-1.157,0l0,1.837l1.157,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M49.349,19.48l0.957,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M50.506,18.573l-1.157,0l0,1.838l1.157,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M61.26,19.464l0.956,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M62.416,18.558l-1.157,0l0,1.837l1.157,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M69.031,19.464l0.957,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M70.188,18.558l-1.157,0l0,1.837l1.157,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M84.446,19.472l0.956,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M85.603,18.566l-1.157,0l0,1.837l1.157,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M21.951,18.401l0,1.985l1.07,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M44.054,18.415l0.602,1.868l0.712,-1.622l0.688,1.622l0.627,-1.868" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M29.501,20.567l0,-1.884l1.517,1.58l0,-1.876" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M6.753,20.569l0,-2.213l1.363,0l0,0.4l-0.963,0l0,1.813l-0.4,0Z" style="fill:#fff;"></path>
                                    <path d="M6.953,19.537l1.013,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M35.239,18.761c0,0 -1.562,-0.623 -1.516,0.742c0.05,1.476 1.51,0.655 1.516,0.655" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M53.072,20.391l0,-1.801c0,0 1.126,-0.183 1.125,0.394c-0.001,0.48 -0.716,0.471 -0.77,0.471c-0.055,0 0.841,-0.025 0.841,0.496c0,0.643 -1.258,0.432 -1.196,0.44Z" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M94.768,20.389l0,-1.801c0,0 1.494,-0.255 1.494,0.912c0,0.677 -0.441,0.96 -1.494,0.889Z" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M57.268,20.389l0,-1.801c0,0 1.494,-0.255 1.494,0.912c0,0.677 -0.441,0.96 -1.494,0.889Z" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M64.749,18.431l0.818,1.848l0.842,-1.848" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M72.747,18.4l0,1.998l1.078,0" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M76.979,18.55c0,0 0.88,-0.023 0.889,0.983c0.007,0.837 -0.686,0.896 -0.861,0.889c-0.018,0 -0.028,0 -0.028,0c0,0 -0.849,0.056 -0.865,-0.889c-0.014,-0.833 0.503,-0.982 0.865,-0.983Z" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M104.005,18.566c0,0 0.88,-0.024 0.888,0.983c0.007,0.837 -0.686,0.896 -0.86,0.889c-0.018,-0.001 -0.028,0 -0.028,0c0,0 -0.849,0.055 -0.865,-0.889c-0.014,-0.834 0.502,-0.982 0.865,-0.983Z" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M80.612,20.571l0,-1.989c0,0 1.18,-0.204 1.133,0.543c-0.047,0.747 -1.062,0.527 -1.133,0.527" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                    <path d="M99.03,18.402c0,0 -0.349,2.006 0.684,2.013c0.993,0.007 0.683,-2.013 0.683,-2.013" style="fill:none;stroke-width:0.4px;stroke-linecap:butt;stroke:#fff;"></path>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="typography--link--icon" href="//www.nightlybuild.io/" title="Nightlybuild.io Conference">
                            <img style="width: 3rem;" src="/assets/images/partner-friends/nightlybuild.svg" alt="Nightlybuild.io Conference">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="copyright" class="layout__section" iii-bgcolor="black">
        <p hill-text="small-3x center">&copy; 2016 Andreas Klein | <a class="typography--link" href="/legal.html">Legal</a> &bull; <a class="typography--link" href="/styleguide.html">Styleguide</a></p>
    </section>
</footer>

<script src="/assets/js/main.js"></script>
