<meta charset="utf-8">

<title>ixis.io &middot; @@title @@if (title !== '') { &mdash; } Andreas Klein, Frontend Developer, UX-Designer &amp; Consultant, Cologne</title>
<meta name="description" content="Freelance Frontend Developer / Architect, UX-Designer &amp; Consultant, Cologne / Germany &mdash; HTML5, CSS &amp; Javascript">

<meta name="author" content="Andreas Klein">

<link href="https://twitter.com/ixisio" rel="me">
<link href="https://github.com/ixisio" rel="me">
<link href="sms:+491738888987" rel="me">
<link href="mailto:andy@ixis.io" rel="me">

<link rel="dns-prefetch" href="https://ixis.io">
<link rel="dns-prefetch" href="https://ixis-io.firebaseapp.com/">
<link rel="dns-prefetch" href="//use.typekit.net">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="shortcut icon" href="/assets/images/general/favicon.png">

<!-- Typekit -->
<script>
  (function(d) {
    var config = {
      kitId: 'zjy0yrv',
      scriptTimeout: 1000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<script>document.documentElement.className += ' js';</script>
