/**
 * max-width all elements
 * block elements.
 */
h1, h2, h3,
p,
blockquote,
figure,
ol, ul,
pre, code,
figure, figcaption,
hr,
address,
.layout__section > section {
    max-width: $layout--max-width;
    margin-left: auto;
    margin-right: auto;
}

.no-maxwidth {
    max-width: none;
}

.layout__section--large-maxwidth {
    max-width: $layout--max-width--large;
    margin-left: auto;
    margin-right: auto;
}

.layout__section {
    @include clearfix;

    position: relative;

    @include layoutFor('<medium') {
        padding: 3rem 2rem;
    }

    @include layoutFor('>medium') {
        padding: 3rem 3rem;
    }
}

.layout__space-top {
    padding-top: 3rem;
}

.layout__space-bottom {
    padding-bottom: 3rem;
}

.layout__text-wrapper {
    @include layoutFor('<medium') {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include layoutFor('>medium') {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.layout__section__headline {
    margin-top: 0;
}

.layout__column {
    position: relative;
    padding-right: 1rem;
}

.layout__box {
    padding: 2rem;
}

.layout__section__scroll-button {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 2.25rem;
    margin-left: -1.125rem;

    opacity: 0.4;
    transition: transform .4s, opacity .4s;

    &:hover {
        opacity: 0.75;
        transform: translate3d(0, 5px, 0);
    }
}

.layout__header {
    width: 100%;
    position: relative;
}

.layout__header__image {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}

.layout__logo {
    width: 6rem;
    display: block;
    z-index: 1;

    // Logo positions differs form header image to header image
    // See _logo.html
    // .layout__logo {
    //     top: 35%;
    //     right: 30%;
    // }

    // @include layoutFor('<small') {
    //     top: 30%;
    //     right: 15%;
    // }

    // @include layoutFor('>medium') {
    //     right: 35%;
    // }

    // @include layoutFor('>large') {
    //     top: 42%;
    // }
}

