@@if (header) {
    <style>
        .layout__logo {
            position: absolute;
            top: 35%;
            right: 30%;
        }
        @media (max-width: 480px) {
          .layout__logo {
            top: 40%;
            right: 0; } }
        @media (min-width: 768px) {
          .layout__logo {
            right: 35%; } }
        @media (min-width: 992px) {
          .layout__logo {
            top: 42%; } }

    </style>
}

<div class="layout__logo">
    @@if (linked) {
        <a href="/">
    }
    <svg @@if (color) { iii-color=@@color } width="100%" height="100%" viewBox="0 0 9 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><rect x="0" y="0.037" width="0.416" height="2.062"/><path d="M0.574,2.098l0.705,-1.076l-0.638,-0.985l0.486,0l0.414,0.662l0.405,-0.662l0.482,0l-0.641,1.001l0.704,1.06l-0.502,0l-0.457,-0.713l-0.458,0.713l-0.5,0Z"/><rect x="2.663" y="0.037" width="0.416" height="2.062"/><path d="M3.342,1.427l0.405,-0.039c0.024,0.136 0.074,0.236 0.148,0.299c0.075,0.064 0.175,0.096 0.302,0.096c0.134,0 0.235,-0.028 0.303,-0.085c0.068,-0.057 0.102,-0.123 0.102,-0.199c0,-0.049 -0.014,-0.09 -0.043,-0.124c-0.028,-0.035 -0.078,-0.064 -0.15,-0.09c-0.048,-0.017 -0.159,-0.047 -0.333,-0.09c-0.223,-0.055 -0.38,-0.123 -0.47,-0.204c-0.126,-0.113 -0.189,-0.251 -0.189,-0.414c0,-0.105 0.029,-0.204 0.089,-0.295c0.059,-0.091 0.145,-0.161 0.257,-0.209c0.112,-0.048 0.247,-0.072 0.406,-0.072c0.259,0 0.453,0.057 0.584,0.171c0.131,0.113 0.2,0.264 0.206,0.454l-0.416,0.018c-0.018,-0.106 -0.056,-0.182 -0.115,-0.228c-0.058,-0.047 -0.146,-0.07 -0.263,-0.07c-0.121,0 -0.216,0.025 -0.284,0.074c-0.044,0.032 -0.066,0.075 -0.066,0.128c0,0.049 0.02,0.091 0.061,0.126c0.053,0.044 0.18,0.09 0.383,0.137c0.202,0.048 0.352,0.098 0.449,0.149c0.097,0.051 0.173,0.121 0.228,0.209c0.055,0.089 0.082,0.198 0.082,0.329c0,0.118 -0.033,0.228 -0.098,0.332c-0.066,0.103 -0.159,0.179 -0.279,0.229c-0.12,0.051 -0.269,0.076 -0.448,0.076c-0.261,0 -0.461,-0.061 -0.601,-0.181c-0.139,-0.12 -0.223,-0.296 -0.25,-0.527Z"/><rect x="5.399" y="0.037" width="0.273" height="2.062"/><path d="M6.041,1.094c0,-0.342 0.092,-0.61 0.275,-0.804c0.184,-0.193 0.421,-0.29 0.712,-0.29c0.19,0 0.362,0.045 0.515,0.136c0.152,0.091 0.269,0.218 0.349,0.381c0.08,0.162 0.12,0.347 0.12,0.553c0,0.209 -0.042,0.396 -0.126,0.561c-0.085,0.165 -0.204,0.29 -0.359,0.375c-0.155,0.085 -0.321,0.127 -0.501,0.127c-0.194,0 -0.367,-0.047 -0.52,-0.14c-0.153,-0.094 -0.268,-0.222 -0.347,-0.384c-0.079,-0.162 -0.118,-0.334 -0.118,-0.515ZM6.322,1.098c0,0.249 0.067,0.444 0.2,0.587c0.134,0.143 0.301,0.215 0.503,0.215c0.205,0 0.374,-0.072 0.507,-0.217c0.133,-0.144 0.199,-0.349 0.199,-0.614c0,-0.168 -0.028,-0.315 -0.085,-0.44c-0.057,-0.125 -0.14,-0.222 -0.249,-0.291c-0.109,-0.069 -0.232,-0.103 -0.368,-0.103c-0.193,0 -0.359,0.066 -0.498,0.199c-0.139,0.132 -0.209,0.354 -0.209,0.664Z"/></g><g><path d="M0.001,3.432l0.345,-0.897l0.127,0l0.367,0.897l-0.135,0l-0.104,-0.272l-0.375,0l-0.099,0.272l-0.126,0ZM0.26,3.064l0.304,0l-0.094,-0.249c-0.028,-0.075 -0.049,-0.137 -0.063,-0.185c-0.012,0.057 -0.028,0.114 -0.049,0.171l-0.098,0.263Z"/><path d="M0.921,3.432l0,-0.65l0.099,0l0,0.093c0.048,-0.072 0.117,-0.107 0.207,-0.107c0.039,0 0.075,0.007 0.108,0.021c0.033,0.014 0.057,0.032 0.074,0.055c0.016,0.023 0.027,0.05 0.034,0.082c0.004,0.02 0.006,0.056 0.006,0.107l0,0.399l-0.11,0l0,-0.395c0,-0.045 -0.004,-0.079 -0.013,-0.101c-0.009,-0.022 -0.024,-0.04 -0.046,-0.053c-0.021,-0.013 -0.047,-0.02 -0.076,-0.02c-0.047,0 -0.088,0.015 -0.122,0.045c-0.034,0.03 -0.051,0.086 -0.051,0.169l0,0.355l-0.11,0Z"/><path d="M2.039,3.432l0,-0.082c-0.041,0.064 -0.102,0.097 -0.181,0.097c-0.052,0 -0.1,-0.015 -0.143,-0.043c-0.044,-0.029 -0.077,-0.069 -0.101,-0.12c-0.024,-0.051 -0.036,-0.11 -0.036,-0.176c0,-0.065 0.011,-0.124 0.032,-0.177c0.022,-0.052 0.054,-0.093 0.098,-0.121c0.043,-0.028 0.091,-0.042 0.145,-0.042c0.039,0 0.074,0.008 0.104,0.024c0.031,0.017 0.056,0.039 0.075,0.065l0,-0.322l0.109,0l0,0.897l-0.102,0ZM1.691,3.108c0,0.083 0.018,0.145 0.053,0.186c0.035,0.042 0.076,0.062 0.124,0.062c0.048,0 0.089,-0.02 0.123,-0.059c0.033,-0.039 0.05,-0.099 0.05,-0.18c0,-0.089 -0.017,-0.154 -0.051,-0.196c-0.035,-0.041 -0.077,-0.062 -0.127,-0.062c-0.049,0 -0.09,0.02 -0.123,0.06c-0.032,0.04 -0.049,0.103 -0.049,0.189Z"/><path d="M2.313,3.432l0,-0.65l0.099,0l0,0.099c0.026,-0.046 0.049,-0.077 0.07,-0.091c0.022,-0.015 0.045,-0.022 0.071,-0.022c0.037,0 0.075,0.012 0.113,0.035l-0.038,0.102c-0.027,-0.016 -0.054,-0.024 -0.081,-0.024c-0.024,0 -0.045,0.008 -0.064,0.022c-0.02,0.015 -0.033,0.035 -0.041,0.06c-0.013,0.04 -0.019,0.082 -0.019,0.129l0,0.34l-0.11,0Z"/><path d="M3.176,3.223l0.114,0.014c-0.018,0.066 -0.051,0.118 -0.1,0.155c-0.048,0.036 -0.11,0.055 -0.186,0.055c-0.095,0 -0.17,-0.03 -0.226,-0.088c-0.055,-0.059 -0.083,-0.141 -0.083,-0.246c0,-0.11 0.028,-0.194 0.084,-0.255c0.056,-0.06 0.129,-0.09 0.219,-0.09c0.087,0 0.158,0.029 0.213,0.088c0.055,0.06 0.083,0.143 0.083,0.25c0,0.006 -0.001,0.016 -0.001,0.029l-0.484,0c0.004,0.072 0.024,0.126 0.06,0.164c0.036,0.038 0.082,0.057 0.136,0.057c0.04,0 0.075,-0.011 0.103,-0.032c0.029,-0.021 0.051,-0.055 0.068,-0.101ZM2.815,3.045l0.362,0c-0.005,-0.055 -0.018,-0.096 -0.041,-0.123c-0.035,-0.043 -0.081,-0.064 -0.137,-0.064c-0.05,0 -0.093,0.017 -0.127,0.051c-0.035,0.034 -0.054,0.079 -0.057,0.136Z"/><path d="M3.852,3.352c-0.041,0.034 -0.08,0.059 -0.118,0.073c-0.037,0.014 -0.078,0.022 -0.121,0.022c-0.072,0 -0.126,-0.018 -0.165,-0.053c-0.038,-0.035 -0.057,-0.079 -0.057,-0.133c0,-0.032 0.007,-0.061 0.022,-0.087c0.014,-0.027 0.033,-0.048 0.056,-0.064c0.024,-0.016 0.05,-0.028 0.08,-0.036c0.021,-0.006 0.054,-0.011 0.097,-0.016c0.089,-0.011 0.155,-0.024 0.197,-0.038c0,-0.015 0,-0.025 0,-0.029c0,-0.045 -0.01,-0.076 -0.031,-0.095c-0.028,-0.025 -0.07,-0.037 -0.125,-0.037c-0.052,0 -0.09,0.009 -0.115,0.027c-0.024,0.018 -0.043,0.05 -0.055,0.096l-0.107,-0.014c0.01,-0.046 0.026,-0.084 0.048,-0.112c0.023,-0.028 0.055,-0.05 0.097,-0.065c0.043,-0.016 0.092,-0.023 0.148,-0.023c0.055,0 0.1,0.006 0.135,0.019c0.035,0.013 0.06,0.03 0.076,0.05c0.017,0.019 0.028,0.044 0.035,0.074c0.003,0.019 0.005,0.053 0.005,0.102l0,0.147c0,0.102 0.002,0.167 0.007,0.194c0.005,0.027 0.014,0.053 0.028,0.078l-0.115,0c-0.011,-0.023 -0.019,-0.05 -0.022,-0.08ZM3.843,3.106c-0.04,0.016 -0.1,0.03 -0.18,0.042c-0.045,0.006 -0.077,0.013 -0.096,0.022c-0.019,0.008 -0.033,0.02 -0.043,0.035c-0.011,0.016 -0.016,0.033 -0.016,0.053c0,0.029 0.011,0.053 0.034,0.073c0.022,0.02 0.054,0.029 0.097,0.029c0.043,0 0.08,-0.009 0.113,-0.027c0.033,-0.019 0.058,-0.044 0.073,-0.077c0.012,-0.024 0.018,-0.061 0.018,-0.11l0,-0.04Z"/><path d="M4.081,3.238l0.109,-0.017c0.006,0.044 0.023,0.077 0.051,0.1c0.028,0.023 0.067,0.035 0.117,0.035c0.05,0 0.088,-0.01 0.112,-0.031c0.025,-0.02 0.037,-0.045 0.037,-0.072c0,-0.025 -0.011,-0.045 -0.032,-0.059c-0.015,-0.01 -0.053,-0.022 -0.113,-0.037c-0.081,-0.021 -0.137,-0.038 -0.168,-0.053c-0.031,-0.015 -0.055,-0.036 -0.071,-0.062c-0.016,-0.026 -0.024,-0.055 -0.024,-0.087c0,-0.029 0.007,-0.056 0.02,-0.081c0.013,-0.024 0.031,-0.045 0.054,-0.061c0.017,-0.013 0.041,-0.023 0.07,-0.032c0.03,-0.009 0.061,-0.013 0.095,-0.013c0.051,0 0.096,0.007 0.134,0.022c0.039,0.014 0.067,0.034 0.086,0.059c0.018,0.025 0.031,0.059 0.038,0.101l-0.108,0.015c-0.005,-0.034 -0.019,-0.06 -0.042,-0.079c-0.024,-0.018 -0.057,-0.028 -0.1,-0.028c-0.05,0 -0.086,0.009 -0.108,0.025c-0.022,0.017 -0.032,0.037 -0.032,0.059c0,0.014 0.004,0.027 0.013,0.039c0.009,0.011 0.023,0.021 0.042,0.029c0.011,0.004 0.044,0.013 0.097,0.028c0.078,0.021 0.133,0.038 0.163,0.051c0.031,0.013 0.055,0.033 0.073,0.058c0.017,0.025 0.026,0.057 0.026,0.094c0,0.037 -0.011,0.071 -0.032,0.104c-0.021,0.032 -0.052,0.057 -0.093,0.075c-0.04,0.018 -0.086,0.027 -0.137,0.027c-0.084,0 -0.148,-0.018 -0.193,-0.053c-0.044,-0.035 -0.072,-0.087 -0.084,-0.156Z"/><path d="M5.108,3.432l0,-0.897l0.119,0l0,0.445l0.445,-0.445l0.161,0l-0.376,0.364l0.393,0.533l-0.157,0l-0.319,-0.454l-0.147,0.143l0,0.311l-0.119,0Z"/><rect x="5.932" y="2.535" width="0.11" height="0.897"/><path d="M6.657,3.223l0.114,0.014c-0.018,0.066 -0.051,0.118 -0.099,0.155c-0.049,0.036 -0.111,0.055 -0.186,0.055c-0.095,0 -0.171,-0.03 -0.226,-0.088c-0.056,-0.059 -0.084,-0.141 -0.084,-0.246c0,-0.11 0.028,-0.194 0.085,-0.255c0.056,-0.06 0.129,-0.09 0.218,-0.09c0.087,0 0.158,0.029 0.213,0.088c0.055,0.06 0.083,0.143 0.083,0.25c0,0.006 0,0.016 -0.001,0.029l-0.484,0c0.004,0.072 0.024,0.126 0.06,0.164c0.037,0.038 0.082,0.057 0.136,0.057c0.041,0 0.075,-0.011 0.104,-0.032c0.028,-0.021 0.051,-0.055 0.067,-0.101ZM6.296,3.045l0.363,0c-0.005,-0.055 -0.019,-0.096 -0.042,-0.123c-0.035,-0.043 -0.08,-0.064 -0.136,-0.064c-0.051,0 -0.093,0.017 -0.128,0.051c-0.034,0.034 -0.053,0.079 -0.057,0.136Z"/><path d="M6.91,2.662l0,-0.127l0.11,0l0,0.127l-0.11,0ZM6.91,3.432l0,-0.65l0.11,0l0,0.65l-0.11,0Z"/><path d="M7.188,3.432l0,-0.65l0.099,0l0,0.093c0.048,-0.072 0.116,-0.107 0.207,-0.107c0.039,0 0.075,0.007 0.107,0.021c0.033,0.014 0.058,0.032 0.074,0.055c0.016,0.023 0.028,0.05 0.034,0.082c0.005,0.02 0.007,0.056 0.007,0.107l0,0.399l-0.111,0l0,-0.395c0,-0.045 -0.004,-0.079 -0.012,-0.101c-0.009,-0.022 -0.024,-0.04 -0.046,-0.053c-0.022,-0.013 -0.047,-0.02 -0.077,-0.02c-0.047,0 -0.087,0.015 -0.121,0.045c-0.034,0.03 -0.051,0.086 -0.051,0.169l0,0.355l-0.11,0Z"/></g></svg>

    @@if (linked) {
        </a>
    }
</div>
