// Generates text attributes
@if (length($hill-text-sizes) > 0) {
    @for $i from 1 through length($hill-text-sizes) {
        $item:  nth($hill-text-sizes, $i);
        $param: nth($item, 1);
        $value: nth($item, 2);

        [#{$hill-text-attribute-name}*="#{$param}"] {
            font-size: $value;
        };
    }
}

@if($hill-text-general-helpers) {
    [#{$hill-text-attribute-name}*="left"]   { text-align:  left;   }
    [#{$hill-text-attribute-name}*="right"]  { text-align:  right;  }
    [#{$hill-text-attribute-name}*="center"] { text-align:  center; }
}
