//
// Default Settings
// Overwrite these settings without the `!default`
// flag in your project.
// See examples for more informations
//
// e.g `$hill-layout-attribute-name: myprj-layout;`
//


// Default hill namespaces
$hill-layout-attribute-name: hill-layout !default;
$hill-text-attribute-name:   hill-text !default;

//
// Optionals which used for css code generation --------------------------------
//
// All variables below triggers a css code generation. If you don't want
// this then feel free to remove them.
// WATCHOUT: If you use this variables in your code, then you need to remove
//           them too.
//
$hill-layout-widths:             (25, 33.3, 50, 75, 100) !default; // overwrite with empty array -> () to disable
$hill-layout-general-helpers:    true !default;
$hill-layout-min-max-helpers:    false !default;
$hill-layout-breakpoint-helpers: false !default;
$hill-layout-space:              40px !default;
$hill-layout-breakpoints: (
    small:  480px,
    medium: 992px,
    large:  1200px
) !default; // overwrite with empty array -> () to disable

$hill-text-general-helpers:      true !default;
$hill-text-sizes: (
    base:     1rem,
    small-2x: 0.9rem,
    small-3x: 0.8rem,
    large-2x: 1.2rem,
    large-3x: 1.4rem
) !default;
