// Based on slick http://kenwheeler.github.io/slick/
// Slider is a


@include layoutFor(small) {
    [data-slider-mobile="false"] {
        &:not(.is--opened) > * {
            display: none;
        }

        > *:nth-child(1) {
            display: block;
        }
    }
}

[data-slider-mobile-more] {
    display: none;
    cursor: pointer;

    @include layoutFor(small) {
        display: block;
    }
}

.slick-slider {
    z-index: 0;
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    display: none;

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-prev,
.slick-next {
    position: absolute;
    z-index: 2;
    display: block;
    top: 30%;

    cursor: pointer;
    color: get-color(grey-light);
    opacity: 0.4;
    transition: opacity .3s, transform .3s;

    &:hover {
        opacity: 1;
    }
}

.slick-prev {
    left: 2rem;
    transform: rotate(90deg);

    &:hover {
        transform: rotate(90deg) translate3d(0, 5px, 0);
    }

    @include layoutFor('small') {
        left: 0;
    }
}

.slick-next {
    right: 2rem;
    transform: rotate(-90deg);

    &:hover {
        transform: rotate(-90deg) translate3d(0, 5px, 0);
    }

    @include layoutFor('small') {
        right: 0;
    }
}
