.clients {
    max-width: 90%;
    margin-top: 2rem;
    text-align: center;
}

.clients__entry {
    display: inline;
    box-sizing: content-box;

    a {
        display: block;
        padding: 1rem;
        opacity: 0.4;
        transition: transform .3s, opacity .3s;

        &:hover,
        &:focus {
            opacity: 1;
            transform: scale(1.05);
        }
    }

    img {
        width: auto;
        max-height: 30px;
    }
}
